/* Import Tailwind's base styles, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define CSS variables for theme colors */
@layer base {
  :root {
    /* Light theme colors */
    --background: 0 0% 100%;      /* White background */
    --foreground: 222.2 84% 4.9%; /* Dark text */

    --primary: 221 83% 53%;
    --primary-foreground: 210 40% 98%;

    --secondary: 142 76% 36%;
    --secondary-foreground: 355.7 100% 97.3%;

    --error: 0 84.2% 60.2%;
    --error-foreground: 210 40% 98%;

    --radius: 0.75rem;
  }

  .dark {
    /* Dark theme colors */
    --background: 222.2 84% 4.9%; /* Dark background */
    --foreground: 210 40% 98%;    /* Light text */

    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 142 76% 36%;
    --secondary-foreground: 355.7 100% 97.3%;

    --error: 0 84.2% 60.2%;
    --error-foreground: 210 40% 98%;
  }
}

/* Global styles */
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
  input[type="date"]::-webkit-calendar-picker-indicator {
    @apply dark:invert cursor-pointer;
  }
} 